body {
    font-family: Arial, sans-serif;
    background-color: #922B21;
    color: white;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado y el menú de navegación */
header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu li a i {
    margin-right: 5px;
}   


.card {
    flex-basis: calc(50% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
}